/* Card Container */

.profile-card {
    width: 350px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    left: -400px;
    top: -30px;
}

.education-card {
    border-radius: 5px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 450px;
    top: -465px;
}


/* Profile Image */

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


/* Info */

.profile-info h2 {
    margin-bottom: 10px;
    color: #1a2b4c;
}

.profile-info p {
    margin: 8px 0;
    color: #555;
    font-size: 14px;
}


/* Button */

.save-btn {
    margin-top: 15px;
    background: linear-gradient(45deg, #ff7a18, #ff3d77);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.save-btn:hover {
    opacity: 0.9;
}

.table {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.edit {
    position: relative;
    left: 370px;
}


/* Card */

.skills-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    position: relative;
    left: 450px;
    top: -430px;
}


/* Row */

.skill-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}


/* Dot */

.skill-dot {
    width: 10px;
    height: 10px;
    background: #22c55e;
    border-radius: 50%;
    margin-right: 10px;
}


/* Content */

.skill-content {
    flex: 1;
    margin-left: 10px;
}

.skill-title {
    font-weight: 600;
    margin: 0;
}

.skill-sub {
    font-size: 13px;
    color: #777;
    margin: 0;
}


/* Badge */

.skill-badge {
    background: linear-gradient(45deg, #22c55e, #4ade80);
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}


/* Card */

.exp-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    position: relative;
    left: 780px;
    top: -580px;
}


/* Row */

.exp-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}


/* Dot */

.exp-dot {
    width: 10px;
    height: 10px;
    background: #22c55e;
    border-radius: 50%;
    margin-right: 10px;
}


/* Content */

.exp-content {
    flex: 1;
    margin-left: 10px;
}

.exp-title {
    font-weight: 600;
    margin: 0;
}

.exp-desc {
    font-size: 13px;
    color: #777;
    margin: 0;
}


/* Badge */

.exp-badge {
    background: linear-gradient(45deg, #22c55e, #4ade80);
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}

.row {
    position: relative;
    top: -550px;
    border-radius: 10px;
}